
<div class="main-container">
  <header class="header header-4">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">QR Chain</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/" fragment="about" class="nav-link nav-text">About</a>
      <a routerLink="/" fragment="demo" class="nav-link nav-text">Demo</a>
      <a routerLink="/" fragment="strengths" class="nav-link nav-text">Strengths</a>
      <a routerLink="/" fragment="limitations" class="nav-link nav-text">Limitations</a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="marketing">
        <qrcode [qrdata]="dappUrl" [size]="200" [level]="'M'" class='qrcode'></qrcode>
        <h1>QR Chain</h1>
        <small>Proof of Concept</small>
        <h3>Track your products efficiently and gain customers trust with the blockchain</h3>
      </div>
      <div class="row flex-items-xs-center callouts">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-block">
              <div class="card-media-block">
                <clr-icon shape="plus" size="72" class="card-media-image"></clr-icon>
                <div class="card-media-description">
                  <span class="card-media-title">
                    <h3>
                      Create QR Code
                    </h3>
                  </span>
                </div>
              </div>
              <p class="card-text">
                QR Code is created with items id and name and stored on the blockchain.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-block">
              <div class="card-media-block">
                <div class="card-media-image">
                  <clr-icon size="60" shape="map-marker" ></clr-icon>
                </div>
                <span class="card-media-title">
                  <h3>
                    Track Your Items
                  </h3>
                </span>
              </div>
              <p class="card-text">
                Scan QR code to update item location and record it to the blockchain
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-block">
              <div class="card-media-block">
                <clr-icon size="64" shape="piggy-bank" class="card-media-image"></clr-icon>
                <span class="card-media-title">
                  <h3>
                    Efficient, Easy, Secure
                  </h3>
                </span>
              </div>
              <p class="card-text">
                Access information quickly and efficiently, no infrastructure or maintenance costs.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- About -->
      <div id="about" class="row flex-items-xs-center poc">
        <div class="col-lg-8">
          <h1>About</h1>
          <div class="card">
            <div class="card-block">
                This proof of concept will be using the ethereum blockchain and <a href="https://www.ipfs.com" target="_blank">IPFS</a>, better known as a Dapp, to demonstrate the benefits and limitations of decentralization and blockchain contracts when tracking physical items. This web application is hosted via IPFS and the contracts and data store leverages <a href="https://github.com/ethereum/solidity" target="_blank">Solidity</a> and the <a href="https://www.ethereum.org/" target="_blank">Ethereum blockchain</a>.  IPFS is decentralized hosting, much like bittorrent, and Ethereum is an immutable database with contract execution. We are using ethereum because of it's <a href="https://github.com/ethereum/solidity">solidity</a> interface, strong community and strong future.
            </div>
          </div>
        </div>
      </div>
      <!-- End of About -->

      <!-- Demo -->
      <div id="demo" class="row flex-items-xs-center demo">
        <div class="col-lg-5">
          <h1>Demo - Tracking an apple</h1>
          <div class="card">
            <div class="card-header">
                Steps
            </div>
            <div class="card-block">
              <ol class="list">
                <li>Please use a Chrome or Firefox browser.</li>
                <li>First, you need to connect to the blockchain by installing the <a href="https://metamask.io/" target="_blank">metamask extension</a>, sign in, and switch to the ROPSTEN Test Net. Get free test eth <a href="https://faucet.metamask.io/" target="_blank">here</a>.
                </li>
                <li>Reload page to ensure everything loads correctly</li>
                <li>Use Your Phone's Camera To Scan QR Code to the right. (Up-to-date iOS or Android camera app should work)</li>
                <li>A website should open up with a QR Code on your phone.</li>
                <li>Imagine your phone is an apple that you just bought and you want to see where that apple has been.</li>
                <li>Now scan your phone by clicking the button below. You will need to give us access to your computer's camera for the scanner to work.</li>
              </ol>
            </div>
            <div class="card-footer">
              <div *ngIf="!connectedToProvider" class="alert alert-warning alert-sm">
                  <div class="alert-items">
                      <div class="alert-item static">
                          <div class="alert-icon-wrapper">
                              <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
                          </div>
                          <div class="alert-text">
                              You need to install metamask.
                          </div>
                      </div>
                  </div>
              </div>
              <button class="btn btn-primary"
                      (click)="scanPhone()"
                      [disabled]="!connectedToProvider">

                <clr-icon shape="camera"></clr-icon> Scan Phone
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="qrcode-phone">
            <qrcode [qrdata]="trackableItem" [size]="200" [level]="'M'" class='qrcode'></qrcode>
            <p>Scan Me With Phone's Camera!</p>
          </div>
        </div>
      </div>

      <div id="results" class="row flex-items-xs-center results">
        <div *ngIf="showLocations" class="col-lg-8 card">
          <div class="card-header">Location History of Apple from Blockchain</div>
          <div class="card-block">
            <div *ngIf="saveError" class="alert alert-warning alert-sm">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
                        </div>
                        <div class="alert-text">
                            {{ saveErrorMessage }}
                        </div>
                    </div>
                </div>
            </div>
            <div>

              <agm-map
                [latitude]="lat"
                [longitude]="lng"
                [zoom]="zoom"
                [disableDefaultUI]="false"
                [zoomControl]="true">

                <agm-marker
                    *ngFor="let m of markers; let i = index"
                    [latitude]="m.lat"
                    [longitude]="m.lng"
                    [label]="m.label"
                    [markerDraggable]="m.draggable">

                  <agm-info-window>
                    <strong>{{ m.label }} @ {{ m.lat }} {{ m.lng }}</strong>
                  </agm-info-window>

                </agm-marker>
              </agm-map>
            </div>
            <div *ngIf="gettingLocations" class="spinner-container">
              <span class="spinner spinner-inline">
                  Loading...
              </span>
              <span>
                  {{ demoMessage || 'Loading...' }}
              </span>
            </div>
          </div>
          <div class="card-footer">
            <button (click)="saveLocation()" class="btn btn-primary" [clrLoading]="savingLocation">
              <clr-icon shape="download"></clr-icon> Save My Location To Blockchain
            </button>
          </div>
        </div>
      </div>
      <!-- End of Demo -->

      <!-- Strengths -->
      <div id="strengths" class="row flex-items-xs-center limitations">
        <div class="col-lg-8">
          <h1>Strengths</h1>
          <div class="card">
            <div class="card-block">

                <ul class="list strengths">
                  <li><strong>Open Access/Transparency</strong> - Anyone can scan your product and get the location history.  Consumers, you, your company and whoever wants access can get access to your products data.  This kind of transparency will bring trust to your brand.</li>
                  <li><strong>Decentralized</strong> Information will be duplicated over many nodes, delivering both data resiliency and validation.</li>
                  <li><strong>No Infrastructure Maintenance</strong> Because the infrastructure is decentralized there is nothing to maintain, you only pay for what you use.</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Strengths -->

      <!-- Limitations -->
      <div id="limitations" class="row flex-items-xs-center limitations">
        <div class="col-lg-8">
          <h1>Limitations</h1>
          <div class="card">
            <div class="card-block">
                <ul class="list">
                  <li><strong>Transactions</strong> on the blockchain are still expensive and slow, but as the technology progresses the prices will come down.  Ethereum has planned to implement sharding by the end of this year that will support thousands of transactions per second.</li>
                  <li><strong>Wallet/Blockchain</strong> - Most people have no idea how to connect to the blockchain with a wallet, so the blockchain app ecosystem has quite a ways to go before the usability improves for the general public.</li>
                  <li><strong>QR Phone Scanner and Wallet are not available</strong> - The previous demo to use the computer camera was awkward, I implemented it this way because there is no blockchain/wallet browser with camera access, thus can't scan the qr code.  Just another indicator of how new this ecosystem is.</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Limitations -->
    </div>
  </div>
</div>
<footer>
  <div class="wrapper">
    <div class="footer-nav">
      <a routerLink="/" fragment="about" class="nav-link nav-text">About</a>
      <a routerLink="/" fragment="demo" class="nav-link nav-text">Demo</a>
      <a routerLink="/" fragment="strengths" class="nav-link nav-text">Strengths</a>
      <a routerLink="/" fragment="limitations" class="nav-link nav-text">Limitations</a>
    </div>
    <a routerLink="/" class="logo">
      <clr-icon shape="vm-bug" size="20"></clr-icon>
      <span class="title">QR Chain</span>
    </a>
  </div>
</footer>

<!-- Scanner -->
<div class="scanner-wrapper" [ngClass]="{hide: !showScanner}">
  <div class="row flex-items-xs-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h1>Scan QR Code On Your Phone</h1>
        </div>
        <div class="card-block">
          <video id="preview" width="500"></video>
        </div>
        <div class="card-footer">
          <button (click)="simulate()" class="btn btn-sm"><clr-icon shape="eye"></clr-icon> Continue Without Scanning</button>
          <button (click)="close()" class="btn btn-sm">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Scanner -->

<!-- Apple -->
<div *ngIf="showApple" class="apple-wrapper">
  <div class="row flex-items-xs-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h1>I'm an Apple.</h1>
          <p>Scan Me and find out where I have been.</p>
        </div>
        <div class="card-block">
          <qrcode [qrdata]="saveLocationItem" [size]="200" [level]="'M'" class='qrcode'></qrcode>
        </div>
        <div class="card-footer">
          <button (click)="closeApple()" class="btn">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Apple -->